<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <h2>Création d'articles : </h2>
    <form class="formulaire" action="/api/form" id="form" enctype="multipart/form-data">
        <div class="divFormulaire">
            <label for="">Titre du cours</label>
            <input type="text" id="title" required>
        </div>
        <div class="divFormulaire">
            <label for="">Synopsis du cours : (caractères max : <span id="caractMax"></span>)</label>
            <textarea name="" id="resume" rows="4" cols="50" maxlength="140" required></textarea>
        </div>
        <div class="divFormulaire">
            <label for="">Contenu du cours :</label>
            <div id="editorjs"></div>
        </div>
        <div class="divRowsFormulaire">
            <div class="divFormulaire">
                <label for="">Durée de lecture estimé :</label>
                <input type="number" id="duration" required>
            </div>
            <div class="divFormulaire">
                <label for="">Auteur :</label>
                <input type="text" id="author" required>
            </div>
        </div>
        <div class="divRowsFormulaire">
            <div class="divFormulaire">
                <label for="">Abonnement nécessaire :</label>
                <div>
                    <input class="inputRadioPremium" type="radio" name="premium" id="premium_true" value="true" required>
                    <label for="premium_true">Oui</label>
                </div>
                <div>
                    <input class="inputRadioPremium" type="radio" name="premium" id="premium_false" value="false" required>
                    <label for="premium_false">Non</label>
                </div>
            </div>
            <div class="divFormulaire">
                <label for="">Date de mise en ligne :</label>
                <input type="date" id="date_parution" required>
            </div>
        </div>
        
        <input type="submit" value="Envoyer">

    </form>


    <script type="module" src="../js_client/script-index.js"></script>
    <script type="module" src="../js_client/fetch-upload.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script>
    
</body>
</html>
