<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <h2>Création d'articles : </h2>
    <form action="/api/form" id="form" enctype="multipart/form-data">
        <div id="editorjs"></div>
        <div>
            <label for="">Date de mise en ligne :</label>
            <input type="date" id="date_parution">
        </div>
        <input type="submit" value="Envoyer">
    </form>


    <script src="../js_client/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script>
    <script>
        const editor = new EditorJS({
            holder :'editorjs',
            tools: {
                header: {
                    class: Header,
                    config : {
                        placeholder: 'Mettre un titre',
                        shortcut: 'CMD+SHIFT+h',
                        levels: [1,2,3],
                        defaultLevel: 1
                    }
                },
                list: {
                    class: List,
                    inlineToolbar: true,
                    shortcut: 'CMD+SHIFT+l',
                    config: {
                        defaultStyle: 'unordered'
                    }
                },
                quote: {
                    class: Quote,
                    inlineToolbar: true,
                    shortcut: 'CMD+SHIFT+q',
                    config: {
                        quotePlaceholder: 'Enter a quote',
                        captionPlaceholder: 'Quote\'s author',
                    },
                },
                image: {
                    class: ImageTool,
                    config: {
                        uploader: {
                            uploadByFile(file){
                                const formData = new FormData();
                                formData.append('file', file);
                                console.log('formData :',formData)

                                fetch('/img_articles', {
                                    method: 'POST',
                                    body: formData
                                })
                                .then(response => {
                                    if (response.ok) {
                                        console.log('File uploaded successfully');
                                    } else {
                                        console.log(response)
                                        console.log('Upload failed');
                                    }
                                })
                                .catch(err => console.log(err))
                            }
                        }
                    }
                }
                /* image: {
                    class: ImageTool,
                    config: {
                        endpoints: {
                        byFile: 'http://localhost:3000/uploadFile', // Your backend file uploader endpoint
                        byUrl: 'http://localhost:3000/fetchUrl', // Your endpoint that provides uploading by Url
                        }
                    }
                } */
            }
        })
    </script>
</body>
</html>
